.loader {
  display: block;
  position: relative;
}

.loading-animation {
  --translateY: -10%;
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(var(--translateY)) translateX(115%);
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--black);
    border-radius: 50%;

    &:first-of-type {
      animation: ripple 0.3s ease 0.1s infinite alternate-reverse;
    }

    &:nth-of-type(2) {
      animation: ripple 0.3s ease 0.2s infinite alternate-reverse;
    }

    &:nth-of-type(3) {
      animation: ripple 0.3s ease 0.3s infinite alternate-reverse;
    }

    &:nth-of-type(4) {
      animation: ripple 0.3s ease 0.4s infinite alternate-reverse;
    }
  }
}

.loading-animation.active {
  --translateY: 200%;
  opacity: 1;
}

@keyframes ripple {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40%);
  }
}
